{% extends 'base.html.twig' %}

{% block title %}Hello DotPayController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/tomaszciula/Projects/simple_shop/src/Controller/DotPayController.php'|file_link(0) }}">src/Controller/DotPayController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/tomaszciula/Projects/simple_shop/templates/dot_pay/index.html.twig'|file_link(0) }}">templates/dot_pay/index.html.twig</a></code></li>
    </ul>
   <div style="text-align: center;">
     <form action="https://ssl.dotpay.pl/test_payment/" method="post" target="_parent">
       <p style="font-size: 18px">Wybierz kwotę darowizny</p>
       <input name="description" value="Darowizna na cele statutowe" type="hidden">
       <input name="amount" id="kwota" size="6" value="" type="text" required
         pattern="^([1-9])((\.\d{1,2})?)$|^((?!0)(\d){1,5})((\.\d{1,2})?)$|^(1(\d{5})(.\d{1,2})?)$|^(200000(.[0]{1,2})?)$"
         placeholder="np. 10" maxlength="9" size="9"
         title="Kwota powinna mieścić się w przedziale 1 - 200 000 PLN. Dozwolony format to np: 10 lub 10.00">
 
       <input type="hidden" name="currency" value="PLN" /> PLN
 
 
       <input name="id" value="705051" type="hidden">
 
 
       <p><br><button class="buttomDarowizna">Wpłać darowiznę</button></p>
     </form>
     <br>
   </div>
</div>
  

 

{% endblock %}
