{% extends 'base.html.twig' %}

{% block body %}
	<div class="container w-25" style="width: 200px; margin-top: 50px;">
		<div class="">
			<a href="/przelewy24" class="image">
				<img src="{{ asset('images/Przelewy24_logo.png')}}" alt="przelewy24" style="width: 100%; height: auto:"/>
			</a>

		</div>
		<div class="">
			<a href="/payu" class="image">
				<img src="{{ asset('images/PAYU.png')}}" alt="payu" style="width: 100%; height: auto:"/>
			</a>
		</div>
		<div class="">
			<a href="/dotpay" class="image">
				<img src="{{ asset('images/dotpay.jpeg')}}" alt="dotpay" style="width: 100%; height: auto:"/>
			</a>
		<div>
	</div>
{% endblock %}
